*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}

h1{
    font-size: 3rem;
}

.heading1{
    color: darkgreen;
}
.heading2{
    color: blueviolet;
}
.heading3{
    color: greenyellow;
}
.heading4{
    color: red;
}